@import url('https://fonts.googleapis.com/css?family=Alegreya:700|Quattrocento+Sans');
/*font-family: 'Alegreya', serif;
font-family: 'Quattrocento Sans', sans-serif;*/

body{
	background-color: black;
	font-family: 'Quattrocento Sans', sans-serif;
	font-size:30px;
} 

header {
    background-color: #FFED74;
    border: 1px black solid;
    padding: 20px;
}

nav{
	background-color: #E8C66A;
    border: 1px black solid;
    padding: 20px;
}

aside{
	background-color: #FFC675;
    border: 1px black solid;
    padding: 20px;
}

article{
	background-color: #E89C6C;
    border: 1px black solid;
    padding: 20px;
}

 

footer{
	background-color: #FF957E;
    border: 1px black solid;
    padding: 20px;
}


h2{
	color:gold;
	font-family: 'Alegreya', serif;
	font-size:1.5em;

}

p{
	color: white;
}

#wrapper{
	background-size: cover;
}

.nav{
	font-family: 'Alegreya', serif;
	font-size:0.5em;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

#three_columns{
	background-color: #FFB7CF;
    border: 1px black solid;
    padding: 10px
    height: auto;
    display: table; 
    width: 100%; 

}

#wigs{
    background-color: violet;
    border: 1px black solid;
    padding: 10px;
    float: left;
    width: 25%;
    display: table-cell; 
}

#color{
    background-color: pink;
    border: 1px black solid;
    padding: 10px;
    float: left;   
    width: 25%;
    display: table-cell; 
}

#makeup{
    background-color: violet;
    border: 1px black solid;
    padding: 10px;
    float: left;
    width: 25%;
    display: table-cell; 
}

#base{
	font-family: 'Alegreya', serif;
	font-size:1.0em;
	clear: both;
}

