@import url('https://fonts.googleapis.com/css?family=Alegreya:700|Quattrocento+Sans');
/*font-family: 'Alegreya', serif;
font-family: 'Quattrocento Sans', sans-serif;*/

body{
	background-color: black;
	font-family: 'Quattrocento Sans', sans-serif;
	font-size:30px;
} 

h2{
	color:gold;
	font-family: 'Alegreya', serif;
	font-size:1.5em;

}

p{
	color: white;
}

.class{
	background-size: cover;
}

.nav{
	font-family: 'Alegreya', serif;
	font-size:0.5em;

}

.base{
	font-family: 'Alegreya', serif;
	font-size:1.0em;
}