@import url('https://fonts.googleapis.com/css?family=Alegreya:700|Quattrocento+Sans');
/*font-family: 'Alegreya', serif;
font-family: 'Quattrocento Sans', sans-serif;*/
* { margin:0; padding:0; box-sizing:border-box; }
body{
	background-color: #f1edf2;
	font-family: 'Quattrocento Sans', sans-serif;
	font-size:24px;
} 

header {
    background-color: #F1EDF2;
    padding: 2%;
    text-align: center;
}

nav{
	background-color: #F1EDF2;
	padding: 0;
	float: right;

}

nav a{
    font-family: 'Alegreya', serif;
    font-size:.8em;
    color: #262526;
    text-decoration:none;

   
}

nav a:hover{
    text-decoration:underline;
}

footer{
	background-color: #262526;
	border: 1% black solid;
	padding: 2%;
	text-align: right;
}
h2{
	color:gold;
	font-family: 'Alegreya', serif;
	font-size:1.5em;

}
a{  font-family: 'Alegreya', serif;
    font-size:1em;
    color:#F1EDF2;
    text-decoration:none;
    text-align:center;
}

a:hover{
    text-decoration:underline;
}


#wrapper{
	background-size: cover;
}


#about{
    background-color: #262526;
    border: 1% black solid;
    padding: 2%;
    color: #F1EDF2;
    /* text-align:center; */
}
#about div {
	max-width: 25em;
	margin: auto;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

#three_columns{
    color:#262526;
    width:100%;
    margin:5%;
}
#three_columns section {
	width:20%;
	float:left;
    padding: 1%;
    margin: 2%;
}

#three_columns img {
	width:100%;
}


#base{
	font-family: 'Alegreya', serif;
	font-size:1.0em;
	clear: both;
}

@media only screen and (max-width: 822px){

    nav a{
        float: none;
        display:block;
    }
}

@media only screen and (max-width: 690px){
    
    body {
        font-size: 20px;
    }

    #three_columns {
        width: auto;
        float: none;
        display:block;
    }
}